<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Hello</title>
    <style type="text/css">
        body {
            font-family: Arial, sans-serif;
            font-size: 16px;
            color: #444444;
        }
        .container {
            margin: 0 auto;
            width: 100%;
            max-width: 900px;
            text-align: center;
        }
        .title-1 {
        color: green;
        text-decoration: underline;
        text-transform: uppercase;
        font-size: 20px;
    }
    </style>
</head>
<body>
<div class="container">
    <p>Hello World!</p>
    <p>Это главная страница нашего сайта в нём вы можете видеть 2 ссылки эти ссылки 
        направят вас на сайты которые мы сделали в них вы можете узнать всё про животный мир! (Шучу только 0.0000001 процент от мира животных)
    </p>
    <p> 1 ссыла вас направит на  Подцарство  одноклеточные </p>
    <a href='kingdom/'>Царство животных</a>
    <p> 2 ссылка вас направит на Карла Линнейного — создателя единой системы классификации
         растительного и животного мира, основоположник современной таксономии </p>    
    <a href="kingdom_1/"> Животные </a>
    <h2 class="title-1"> Классификации животного мира </h2>

    <img src="https://www.calc.ru/imgs/articles3/71/91/243576d3f6f28e901.58594640.jpg " alt="Классификации животного мира ">
</div>
</body>
</html>