<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>home work </title>
	<link rel="stylesheet" href="css/style.css">
</head>
<style type="text/css">
    body {
        background-color:white;
    }
    h1 {
        color: rgb(245, 131, 0);
    }
    .title-1 {
        color: green;
        text-decoration: underline;
        text-transform: uppercase;
        font-size: 20px;
    }
    .title-2 {
        text-transform: uppercase;
        border-bottom: 10px solid green;
    }
    .main-text {
        font-size: 20px;
        font-style: italic;
    }
</style>
<body>
	<header>
		<h1 class="title-2">Царство Животных </h1>
	</header>
	<div>
		<div>
			<h2 class="title-1">Происхождение животных </h2>
			<img src="images/царство.jpg" alt="">

			<p> Считается, что животные произошли от жгутиковых одноклеточных, а их ближайшими известными живыми родственниками
                 являются хоанофлагеллаты, воротничковые жгутиконосцы, морфологически сходные с хоаноцитами некоторых губок. Молекулярные исследования 
                 определили место животных в надгруппе Opisthokonta, куда также включают хоанофлагеллат, грибы и небольшое количество паразитических протист.
                  Название Opisthokonta обозначает заднее расположение жгутика в подвижной клетке, как у большинства сперматозоидов животных, в то время как другие эукариоты, как правило, имеют передний жгутик.
                Считается, что первые животные появились в середине протерозоя. Это существо под названием Grypania в виде спиралевидных углеродистых лент
                , отпечатки которого найдены в породах возрастом 1,9—1,4 млрд лет в окрестностях озера Верхнего. Принадлежность находки к животным небесспорно.
                 Некоторые исследователи считают её остатками примитивных многоклеточных водорослей-эукариотов или высокоразвитой колонией цианобактерий.
                Ещё одно предположительное древнее животное носит название Horodyskia, найдено в отложениях возрастом 1,44 млрд лет в Северной Америке и 1,4—1,07 млрд лет в Австралии.
                Первые ископаемые остатки животных относятся к концу докембрия (около 665 миллионов лет назад) и известны как эдиакарская
                 или вендская фауна. Их, однако, сложно соотнести с более поздними ископаемыми. Они могут быть предками современных ветвей животных,
                  независимыми группами или не животными вовсе. Большинство известных типов животных более или менее одновременно появились в кембрийском периоде,
                   около 542 млн лет назад. Это событие — кембрийский взрыв — было вызвано либо быстрой дивергенцией групп, либо таким изменением условий, которое сделало 
                   возможным окаменение. Однако, некоторые палеонтологи и геологи предполагают, что животные появились значительно раньше, чем считалось ранее, возможно, 
                   даже 1 миллиард лет назад — в начале тония. На это указывает сокращение разнообразия строматолитов примерно в это время. Кроме того, из тонийских отложений известны
                    отпечатки и норы, которые свидетельствуют о наличии крупных (около 5 мм в ширину) трёхслойных червей, сложных, как земляные черви[4]. Однако, такую интерпретацию этих 
                    следов поставило под сомнение открытие того, что очень похожие 
                следы на дне оставляют сегодня гигантские одноклеточные протисты Gromia sphaerica[5][6]. </p>
            <h2 class="title-1"> Классификация</h2>
            <h3 class="title-1"> История классифицирования животного мира</h3>
            <p>Аристотель впервые в собственной отдельной работе «О возникновении животных» предпринял попытку разделить живой мир на растения и животных
                . Затем последовали труды Карла Линнея — шведского естествоиспытателя и врача, создателя единой системы классификации растительного и
                 животного мира (ещё при жизни принесшей ему всемирную известность), в которой в значительной степени упорядочены и обобщены знания
                  всего предыдущего периода развития биологической науки. Среди главных заслуг Линнея — определение понятия биологического вида,
                   внедрение в активное употребление биноминальной (бинарной) номенклатуры и установление чёткого соподчинения между систематическими
                   (таксономическими) категориями[16]. Кроме того, Карл Линней является автором первой иерархической классификации живой природы[17]
                   , ставшей основой (базисом) для научной классификации живых организмов. Он разделил природный мир на три «царства»: минеральное,
                    растительное и животное, использовав четыре уровня («ранга»): классы, отряды, роды и виды. Введённый Карлом Линнеем в практику
                     систематики метод формирования научного названия для каждого из видов (так называемые тривиальные названия лат. nomina trivialia,
                      которые позже стали использоваться в качестве видовых эпитетов в биноминальных названиях живых организмов) используется до сих пор
                       (применявшиеся ранее длинные названия, состоящие из большого количества слов, давали описание видов, но не были строго формализованы).
                        Использование латинского названия из двух слов — название рода, затем специфичное имя — позволило отделить номенклатуру от таксономии. 
                        В оригинальной схеме Карла Линнея животные были отнесены к одному из трёх царств, разделённому на классы Черви, Насекомые, 
                        Рыбы, Гады (позднее Амфибии и Пресмыкающиеся), Птицы и Млекопитающие. С тех пор последние четыре класса были объединены в один
                         тип — хордовые, в то время как остальные классы были отнесены к беспозвоночным
            </p>

				
				<img width="500" height="400" src="https://upload.wikimedia.org/wikipedia/commons/f/f7/Carolus_Linnaeus_%28cleaned_up_version%29.jpg"
                 alt=" Карл Линней — создатель единой системы классификации растительного и животного мира, основоположник современной таксономии">
		
				</ul>
				<h3 class="title-1"> Подцарство Многоклеточных , включаю типы:</h3>
				<ol class="main-text">
					<strong>
						<li> Кишечнополостные<i>(классы Гидроидные, Сцифоидные и Коралловые полипы)</i></li>
						<li> Плоские черви<i>(классы Сосальщики, Ленточные черви, Ресничные черви)</i></li>
						<li> Круглые черви<i>(класс Собственно круглые черви, или Нематоды)</i></li>
						<li>Кольчатые черви<i>(классы Малощетинковые, Многощетинковые и Пиявки)</i></li>
						<li>Моллюски<i>(классы Брюхоногие, Двустворчатые, Голово­ногие)</i></li>
						<li>Членистоногие<i>(классы Ракообразные, Паукообразные и На­секомые)</i></li>
						<li>Хордовые. Тип Хордовые делят на три подтипа:<i>Оболочни­ки (класс Асцидии),
								Бесчерепные (класс Ланцетники),Позвоночные (классы Хрящевые рыбы, Костные рыбы,
								Земноводные
								(Амфибии),</i></li>
						<li> Пресмыкающиеся<i>(Рептилии)</i></li>
						<li> Птицы</li>
						<li>Млекопитающие.</li>
					</strong>

				</ol>
		</div>


		<body>

            <h2 class="title-1"> Также вы можете оставить свои коментарии на счёт этого сайта </h2>
            <p>Хотя она не работает по что </p>
			<form name="test" method="post" action="input1.php">
				<p><b>Ваше имя:</b><br>
					<input type="text" size="40">
				</p>
			
				<p>Комментарий<Br>
					<textarea name="comment" cols="40" rows="3"></textarea></p>
				<p><input type="submit" value="Отправить">
					<input type="reset" value="Очистить"></p>
			</form>

		</body>
	</div>

	<footer>
		<p>Сайт разработан Нурбековым Бекболотом </p>
	</footer>

</body>

</html>