<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>home work </title>
	<link rel="stylesheet" href="css/style.css">
</head>
<style type="text/css">
    body {
        background-color:white;
    }
    h1 {
        color: rgb(245, 131, 0);
    }
    .title-1 {
        color: green;
        text-decoration: underline;
        text-transform: uppercase;
        font-size: 20px;
    }
    .title-2 {
        text-transform: uppercase;
        border-bottom: 10px solid green;
    }
    .main-text {
        font-size: 20px;
        font-style: italic;
    }
</style>
<body>
	<header>
		<h1 class="title-2">Царство Животных </h1>
	</header>
	<div>
		<div>
			<h2>Сиситематика животных </h2>
			<img src="images/царство.jpg" alt="">

			<h4 class="title-1"> Подцарство Одноклеточные , включают типы: </h4>
			<ol class="main-text">

				<li> <strong><a
							href="https://ru.wikipedia.org/wiki/%D0%A1%D0%B0%D1%80%D0%BA%D0%BE%D0%BC%D0%B0%D1%81%D1%82%D0%B8%D0%B3%D0%BE%D1%84%D0%BE%D1%80%D1%8B">
							Саркомастигофора</a> <i>(классы Саркодовые и Жгутиконосцы)</strong> </i></li>
				<img width="500" height="400" src="images/саркомастигофора.jpg" alt=" подтип Саркодовые">
				<li><strong> <a
							href="https://ru.wikipedia.org/wiki/%D0%98%D0%BD%D1%84%D1%83%D0%B7%D0%BE%D1%80%D0%B8%D0%B8">
							Инфузории</a> <i>(класс Реснич­ные инфузории)</strong> </i></li>
				<img width="500" height="400" src="images/инфузории.jpg" alt=" инфузории туфелька">
				<li><strong> <a
							href="https://ru.wikipedia.org/wiki/%D0%90%D0%BF%D0%B8%D0%BA%D0%BE%D0%BC%D0%BF%D0%BB%D0%B5%D0%BA%D1%81%D1%8B">
							Апикомплекса </a> <i>(класс Споровики)</strong> </i></li>
				<img width="500" height="400" src="images/Апикомлекса.jpg" alt=" тип Апикомлекс">
				</ul>
				<h3 class="title-1"> Подцарство Многоклеточных , включаю типы:</h3>
				<ol class="main-text">
					<strong>
						<li> Кишечнополостные<i>(классы Гидроидные, Сцифоидные и Коралловые полипы)</i></li>
						<li> Плоские черви<i>(классы Сосальщики, Ленточные черви, Ресничные черви)</i></li>
						<li> Круглые черви<i>(класс Собственно круглые черви, или Нематоды)</i></li>
						<li>Кольчатые черви<i>(классы Малощетинковые, Многощетинковые и Пиявки)</i></li>
						<li>Моллюски<i>(классы Брюхоногие, Двустворчатые, Голово­ногие)</i></li>
						<li>Членистоногие<i>(классы Ракообразные, Паукообразные и На­секомые)</i></li>
						<li>Хордовые. Тип Хордовые делят на три подтипа:<i>Оболочни­ки (класс Асцидии),
								Бесчерепные (класс Ланцетники),Позвоночные (классы Хрящевые рыбы, Костные рыбы,
								Земноводные
								(Амфибии),</i></li>
						<li> Пресмыкающиеся<i>(Рептилии)</i></li>
						<li> Птицы</li>
						<li>Млекопитающие.</li>
					</strong>

				</ol>
		</div>
		<div class="main-text">
			<h2 class="title-2">Животные </h2>

			<table border="3">
				<tr>
					<td> <b>Типы животных </b> </td>
				</tr>
				<tr>
					<td>Ветуликолии</td>
					<td>Петалонамы</td>
				</tr>
				<tr>
					</td>
					<td>Трилобозои</td>
					<td>Проартикуляты</td>
				</tr>
				<tr>
					<td>Хиолиты</td>
					<td>Брюхоресничные черви</td>
				</tr>
				<tr>
					<td>Внутрипорошицевые</td>
					<td>Волосатики</td>
				</tr>
				<tr>
					<td>Коловратки</td>
					<td>Кольчатые черви</td>
				</tr>
				<tr>
					<td>Моллюски</td>
					<td>Мшанки</td>
				</tr>
				<tr>
					<td>Нематоды</td>
					<td>Немертины</td>

			</table>
			</ol>
			<h3 class="title-2">Роль животных в природе и жизни человека: </h3>
			<p>животные участвуют в круговороте веществ; консументы 1-3 порядков <br>
				геологическая (почво-, породообразующие) деятельность животных;<br>
				использование ископаемых животных для определения относительного возраста слоев горных пород;<br>
				участвуют в опылении растений (в Европе 80% покрытосеменных растений опыляется насекомыми);<br>
				создают условия жизни для внешних и внутренних паразитов;<br>
				участвуют в распространении растений, грибов, бактерий и вирусов;<br>
				источник пищи, сырья, медикаментов;<br>
				некоторые являются возбудителями заболеваний;<br>
				используются как биологические враги уничтожают вредителей;<br>
				имеют научное значение как объекты исследований;<br>
				используются для транспортных, сторожевых, спортивно-оздоровительных и многих других целей;<br>
				имеют эстетическое и эмоциональное значение. </p>
		</div>

		<body>

            <h2 class="title-1"> Также вы можете оставить свои коментарии на счёт этого сайта </h2>
            <p>Хотя она не работает по что </p>
			<form name="test" method="post" action="input1.php">
				<p><b>Ваше имя:</b><br>
					<input type="text" size="40">
				</p>
			
				<p>Комментарий<Br>
					<textarea name="comment" cols="40" rows="3"></textarea></p>
				<p><input type="submit" value="Отправить">
					<input type="reset" value="Очистить"></p>
			</form>

		</body>
	</div>

	<footer>
		<p>Сайт разработан Нурбековым Бекболотом </p>
	</footer>


</body>

</html>